<section class="py-5">
    <h1 class="display-4">
        Thanks for visiting!
    </h1>
    <p class="lead">
        Test credentials for fake payement:
    </p>
    <p>1) credit card no. 4242 4242 4242 4242</p>
    <p>2) you can use any cvc and expiry date</p>
    <p>3) similarly any emai formatted correctly will do the work</p>
    <hr>
    <p class="lead">If you like the project please don't forget to give it a star.</p>
    <hr>
    <a href="/" class="btn btn-primary btn-lg">go home</a>
    <a href="/about" class="btn btn-primary btn-lg">go to about page</a>
</section>