<br>
<br>
<br>
<div class="jumnotron clearfix">
    <div class="row">
    <div class="col-md-7">
      <h1 class="display-4">The begineers gude to Python</h1>  
      <p class="lead">
          Welcome to this webpage. This is not a real eBook and you will not get it after paying for it!
          this is just for test purpose. You can get the test credit card no. and cvv on the about page.
      </p>
      <hr class="my-3">
      <p>To buy this eBook please click the link below</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Buy Now!</a>
    </div>
    <div class="col-md-5">
        <img src="/img/product.png" alt="product_image" class="image-responsive img float-right">
    </div>
</div>
</div>