<section class="py-5">
    <h1 class="display-4">
        Order booked!
    </h1>
    <p class="lead">
        you'll recieve your ebook via email in 2-3 business days
    </p>
    <hr>
    <a href="/" class="btn btn-primary btn-lg">go home</a>
    <a href="/about" class="btn btn-primary btn-lg">go to about page</a>
</section>